body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.nav__link {
    color: cornflowerblue;
    font-size: 25px;
    line-height: 20px;
}
.title {
    color: #8887d7;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
.admin__img {
    border-radius: 30px;
}
.img__in__catalog {
    border-radius: 40px;
}
.input__field {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 17px;
    font-size: 14px;
    line-height: 30px;
    font-family: sans-serif;
}
.form__button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 17px;
}
